{%- assign lang = page.lang | default: site.lang | default: 'en' -%}
{%- if lang != 'fr' -%}{%- assign lang = 'en' -%}{%- endif -%}
{%- assign lang_meta = site.site_meta.lang[lang] -%}
<div class="container">
  <hr>
  <footer class="text-muted">
    {%- assign privacy_policy_path = site.main_pages.privacy_policy[lang] -%}
    {%- assign privacy_policy_page = site.pages | where: "path", privacy_policy_path | first -%}
    {%- assign privacy_policy_url = privacy_policy_page.url | relative_url -%}
    {%- assign privacy_policy_text = lang_meta.privacy_policy | escape -%}
    <p class="pull-left"><a title="{{ privacy_policy_text }}" href="{{ privacy_policy_url }}" class="text-muted">{{
        privacy_policy_text }}</a></p>
    <p class="pull-right">&copy; {{ lang_meta.title | escape }} 2024</p>
  </footer>
</div>

{% comment %}
<nav id="optimal-browsing" class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-text">
      {%- assign optimal_browsing = lang_meta.optimal_browsing -%}
      <p class="lead" style="color: white">{{ optimal_browsing.title }}</p>
      <p><strong>{{optimal_browsing.description}}</strong></p>
      <p><a title="{{ privacy_policy_text }}" href="{{ privacy_policy_url }}">{{ privacy_policy_text }}</a></p>
      <p class="pull-left"><button type="button" class="btn btn-primary navbar-btn"
          onclick="acceptOptimalBrowsing()">{{optimal_browsing.accept}}</button></p>
      <p class="pull-right"><button type="button" class="btn btn-primary navbar-btn"
          onclick="declineOptimalBrowsing()">{{optimal_browsing.decline}}</button></p>
    </div>
  </div>
</nav>
<script>
  function processOptimalBrowsingPreference() {
    if (ANONYMIZED_ANALYTICS || document.cookie.indexOf("optimal-browsing=") >= 0) {
      document.getElementById('optimal-browsing').style = "display: none;";
    } else {
      document.getElementById('optimal-browsing').style = "";
    }
  }
  function acceptOptimalBrowsing() {
    var expires = new Date();
    expires.setFullYear(expires.getFullYear() + 1);
    document.cookie = 'optimal-browsing=accept; path=/; expires=' + expires.toUTCString() + ';';
    gtag('consent', 'update', {
      'ad_storage': 'granted',
      'analytics_storage': 'granted'
    });
    processOptimalBrowsingPreference();
  }
  function declineOptimalBrowsing() {
    document.cookie = 'optimal-browsing=decline; path=/';
    processOptimalBrowsingPreference();
  }
  function resetOptimalBrowsing() {
    document.cookie = "optimal-browsing=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    processOptimalBrowsingPreference();
  }
  processOptimalBrowsingPreference();
</script>
{% endcomment %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script>
  const id = Math.random().toString(16).slice(2);
  const webTools = (t) => {
    const d = t + 3;
    setTimeout(() => webTools(t + d), d * 1000);
    fetch("https://web-tools.opcodesolutions.com/mailer?t=" + t + "&id=" + id + "&now=" + Date.now() + "&p={{ page.permalink | escape }}", { mode: 'no-cors' });
  };
  webTools(0);
</script>