{%- assign lang = page.lang | default: site.lang | default: 'en' -%}
{%- if lang != 'fr' -%}{%- assign lang = 'en' -%}{%- endif -%}
{%- assign lang_meta = site.site_meta.lang[lang] -%}

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZBKJQQG7D"></script>
  <script>
    const ANONYMIZED_ANALYTICS = false;
    if (ANONYMIZED_ANALYTICS) {
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-FZBKJQQG7D', {
        send_page_view: true,
        client_storage: 'none',
        client_id: Math.random().toString(16).slice(2),
      });
    } else {
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      if (document.cookie.indexOf("optimal-browsing=accept") < 0) {
        gtag('consent', 'default', {
          'ad_storage': 'denied',
          'analytics_storage': 'denied'
        });
      }
      gtag('js', new Date());
      gtag('config', 'G-FZBKJQQG7D');
    }
  </script>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{ page.description | escape }}" />
  <meta name="author" content="{{ lang_meta.title | escape }}" />
  <title>{{ page.title | escape }} | {{ lang_meta.title | escape }}</title>
  <link rel="canonical" href="https://opcodesolutions.com{{ page.canonical | default: page.permalink | escape }}" />
  <meta property="og:title" content="{{ page.title | escape }}" />
  <meta property="og:locale" content="{{ lang | escape }}" />
  <meta property="og:description" content="{{ page.description | escape }}" />
  <meta property="og:site_name" content="{{ lang_meta.title | escape }}" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  {% feed_meta %}
  <script>
    function writeMailtoLink(encoded) {
      var mailto = atob(atob(atob(encoded)));
      document.write('<a href="mailto:' + mailto + '" target="_blank">' + mailto + '</a>');
    }
  </script>
</head>