{%- assign lang = page.lang | default: site.lang | default: 'en' -%}
{%- if lang != 'fr' -%}{%- assign lang = 'en' -%}{%- endif -%}
{%- assign lang_meta = site.site_meta.lang[lang] -%}
{%- assign lang_base_url = '/' | append: lang | append: '/' -%}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{{ lang_meta.toggle_nav | escape }}</span> <span class="icon-bar"></span> <span
          class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a title="{{ lang_meta.title | escape }}" class="navbar-brand" href="{{ lang_base_url }}"><span {% if
          page.url==lang_base_url %} style="color: white" {% endif %}>OpCode</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        {%- assign dev_page_paths = site.main_pages.development[lang] -%}
        {%- assign dev_class = '' -%}
        {%- for path in dev_page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if page.url==my_page.url -%}{%- assign dev_class = 'active' -%}{% endif -%}
        {%- endfor -%}
        <li class="dropdown {{ dev_class }}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{{ lang_meta.development | escape }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {%- for path in dev_page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            <li {% if page.url==my_page.url %} class="active" {% endif %}><a href="{{ my_page.url | relative_url }}">{{
                my_page.title | escape }}</a></li>
            {% endfor %}
          </ul>
        </li>

        {%- assign saas_page_paths = site.main_pages.saas[lang] -%}
        {%- assign saas_class = '' -%}
        {%- for path in saas_page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if page.url==my_page.url -%}{%- assign saas_class = 'active' -%}{% endif -%}
        {%- endfor -%}
        <li class="dropdown {{ saas_class }}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{{ lang_meta.saas | escape }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {%- for path in saas_page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            <li {% if page.url==my_page.url %} class="active" {% endif %}><a href="{{ my_page.url | relative_url }}">{{
                my_page.title | escape }}</a></li>
            {% endfor %}
          </ul>
        </li>

        {%- for path in site.main_pages[lang] -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        <li {% if page.url==my_page.url %} class="active" {% endif %}><a href="{{ my_page.url | relative_url }}">{{
            my_page.title | escape }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/{{ lang_meta.other_lang }}/">{{ lang_meta.other_lang_desc | escape }}</a></li>
        <li>
          <div class="navbar-form"><a class="btn btn-primary" href="https://clients.opcodesolutions.com/" role="button"
              target="_blank"><b>{{ lang_meta.client_login | escape }}</b></a></div>
        </li>
      </ul>
    </div>
  </div>
</nav>